@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/theme.css";
@import "tailwindcss/utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file */
@keyframes slideIn {
  from {
    transform: translateY(100%); /* Start from below */
    opacity: 0; /* Start invisible */
  }
  to {
    transform: translateY(0); /* End at original position */
    opacity: 1; /* End visible */
  }
}

.slide-in {
  animation: slideIn 0.5s ease-out; /* Adjust duration and easing as needed */
}
